ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
    list-style: none;
    align-items: center;

    li {
        font-size: 1rem;

        a {
            text-decoration: none;
        }

        img {
            width: 30px;
        }
        

        
    }
}