.likes-button {

    position: absolute;
    top: 10px;
    left: 10px;
    
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .heart-icon {
        width: 24px; // Ajusta el tamaño del ícono
        height: 24px;
        background-image: url("/assets/imgs/heart.png");
        background-size: cover;
        transition: background-color 0.2s ease-in-out;

        &:hover {
            transform: scale(1.1); // Efecto de escala al pasar el mouse
        }

        &.liked {
            background-color: #e60023; // Color de relleno
            mask-image: url("/assets/imgs/heart.png"); // Usa el corazón vacío como máscara
            mask-size: cover;
            -webkit-mask-image: url("/assets/imgs/heart.png"); // Soporte para navegadores WebKit
            -webkit-mask-size: cover;
        }
    }
}