$primary-padding: 12px;
$primary-grey: #757575;
$secondary-grey: #ECECEC;

// Variables for colors and spacing
$primary-color: #e60023; // Pinterest's red color
$secondary-color: #333;
$background-color: #f5f5f5;
$border-radius: 16px;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$pin-height: 1fr;